venv*
*.iml
.idea
.run
.metadata
.classpath
.project
.settings
_settings
target
**/*.sw[op]
**/.DS_Store
*.log
*.jar
**/*.private.env.json
restapi.all.db
sqlite3
sqlite3.exe
**/asciidoc/*.pdf
**/asciidoc/*.html
